@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none ;
  list-style: none;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

/* Variaveis no CSS */

:root{
  --color-primary: #481852;
  --color-primary-varient: #685487;
  --color-white: #fff;
  --color-black: #21272f;
  --color-dark: #522222;
  --transition: 0.4s ease;
}

body{
  background-color: var(--color-white);
  color: var(--color-black);
}

h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 130%;
}

h3 {
  font-size: 34px;
  font-weight: 700;
  line-height: 130%;
  color: var(--color-primary);
}

p{
  color: var(--color-dark);
  line-height: 150%;
  font-size: 19px;
}

img {
  width: 100%;
  display: block;
}

.btn{
  display: inline-block;
  width: fit-content;
  padding: 14px 32px;
  font-weight: 500;
  font-size: 19px;
  border-radius: 30px;
  background-color: var(--color-primary);
  box-shadow: 0 2px 6px rgb(0, 0, 0, 0.4);
  transition: var(--transition);
  color: var(--color-white);
}

.btn-hover{
  background-color: var(--color-primary-varient);
  box-shadow: none;
}

.container{
  width: 90%;
  margin: 0 auto;
  max-width: 1420px;
}

.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.logo{
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-black);
}

.logo span{
  color: var(--color-dark);
}

.nav-links{
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav-links a{
  font-size: 19px;
  color: var(--color-dark);
  position: relative;
  transition: var(--transition);
}

.nav-links li a::before{
  content: '';
  width: 0;
  height: 3px;
  border-radius: 6px;
  background-color: var(--color-primary);
  position: absolute;
  bottom: -6px;
  left: 0;
}

.nav-links li a:hover{
  color: var(--color-black);
}

.nav-links li a:hover::before{
  width: 100%;
  transition: var(--transition);
}

.active{
  color: var(--color-black) !important;
}

.active::before{
  width: 100% !important;
}

header{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.header-container{
  display: grid;
  grid-template-columns: auto 30rem;
  gap: 4rem;
  align-items: center;
}

.header-container h3{
  margin: 0.7rem 0;
  color: var(--color-primary);
}

.header-container p{
  margin: 0 0 1.8rem;
}

.header-right{
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle{
  height: 28rem;
  width: 28rem;
  border-radius: 50%;
  border: 1px solid var(--color-primary);
  position: relative;
  animation: Animate linear infinite 20s;
}

@keyframes Animate {
  to{
    transform: rotate(360deg);
  }
}

.circle a{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  box-shadow: 0 0 1rem rgb(0, 0, 0, 0.2);
  font-size: 22px;
  position: absolute;
  transition: var(--transition);
}

.circle a:hover{
  background-color: var(--color-primary);
  color: var(--color-white);
}

.circle a:nth-child(1){
  left: calc(50% - 2rem);
  top: -2rem;
}

.circle a:nth-child(2){
  top: calc(50% - 2rem);
  right: -2rem;
}

.circle a:nth-child(3){
  top: calc(50% - 2rem);
  left: -2rem;
}

.circle a:nth-child(4){
  left: calc(50% - 2rem);
  bottom: -2rem;
}

.hero-image{
  position: absolute;
  height: 23rem;
  width: 23rem;
  overflow: hidden;
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--color-primary);
}

/* Media Queries */
@media only screen and (min-width: 768px) {
  .nav-container {
    flex-direction: row;
  }

  .nav-links {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1024px) {
  .header-container {
    flex-direction: row;
  }
}